<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ChatRoom</title>
    <link rel="stylesheet" href="./lib/bootstrap.min.css" />
    <script src="lib/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <section class="row g-3">
        <div class="col-auto">
          <input
            v-model="tempUserName"
            type="text"
            class="form-control"
            placeholder="请输入用户名"
          />
        </div>
        <div class="col-auto">
          <button @click="handleSetUserName" class="btn btn-primary mb-3">
            设置
          </button>
        </div>
      </section>
      <section class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">{{ userName }}</span>
        <span class="input-group-text" id="basic-addon1">:</span>
        <input
          v-model="message"
          type="text"
          class="form-control"
          placeholder="请输入消息"
        />
      </section>
    </div>
    <script>
      const { ref } = Vue;
      Vue.createApp({
        setup() {
          const tempUserName = ref("");
          const userName = ref("defaultUser");
          const message = ref("");

          const handleSetUserName = () => {
            userName.value = tempUserName.value;
          };

          const socket = new WebSocket("ws://192.168.3.217:8080/ws");
          socket.onmessage = e => {};
          socket.onopen = e => {
            console.log("连接开启!");
          };
          socket.onclose = e => {
            console.log("连接被关闭");
          };
          const send = data => {
            if (socket.readyState != WebSocket.OPEN) alert("连接未开启！");
            else socket.send(JSON.stringify(data));
          };

          const handleSend = () => {
            console.log("sended");
          };

          return {
            tempUserName,
            userName,
            message,
            handleSend,
            handleSetUserName,
          };
        },
      }).mount("#app");
    </script>
  </body>
  <style>
    body {
      background-color: #f5f5f5;
      padding: 20px;
    }
  </style>
</html>
